<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--Metadatos -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width ,initial-scale=1">
<!-- Titulo -->
<title>Alumnos</title>
<!-- CSS -->
<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
<!-- Boostrap -->
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
</head>


<body>

	<!-- Header -->
	<header th:replace="/layouts/header :: header"></header>

	<!-- Seccion principal -->
	<section class="principal" style="min-height: 710px; padding-bottom: 50px;">
    <div class="container">
        <div class="d-flex flex-column" style="padding: 10px;">
            <h2 style="text-align: center;">Listado de alumnos</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="text-center">
                        <tr>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Domicilio</th>
                            <th>LU</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr th:each="alumno : ${alumnos}">
                            <td th:text="${alumno.dni}"></td>
                            <td th:text="${alumno.nombre}"></td>
                            <td th:text="${alumno.apellido}"></td>
                            <td th:text="${alumno.correo}"></td>
                            <td th:text="${alumno.telefono}"></td>
                            <td th:text="${#temporals.format(alumno.fechaNacimiento, 'dd-MM-yyyy')}"></td>
                            <td th:text="${alumno.domicilio}"></td>
                            <td th:text="${alumno.lu}"></td>
                            <td>
                                <a th:href="@{/alumnos/modificar/{lu}(lu=${alumno.lu})}" class="btn btn-warning">Editar</a>
                                <a th:href="@{/alumnos/eliminar/{lu}(lu=${alumno.lu})}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center w-100" style="margin-top: 20px;">
                <a th:href="@{/alumnos/nuevo}" class="btn btn-primary" style="margin: 5px;">Agregar nuevo alumno</a>
            </div>
        </div>
    </div>
</section>

	<!-- Footer -->
	<footer th:replace="/layouts/footer :: footer"></footer>

	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>