<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--Metadatos -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width ,initial-scale=1">
<!-- Titulo -->
<title>Pagina bootstrap</title>
<!-- CSS -->
<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
<!-- Boostrap -->
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
</head>


<body>

	<!-- Header -->
	<header th:replace="/layouts/header :: header"></header>

	<!-- Seccion principal -->
	<section class="principal">
		<div class="container-fluid contenedor">
			<div class="row">
				<div class="informacion col-md-9 col-12">
					<p>En la Facultad de Ingeniería, estamos comprometidos con la
						excelencia académica, la innovación constante y la preparación en
						el campo de la ingeniería. Desde su fundación, hemos mantenido una
						reputación de excelencia en la educación, la investigación y el
						servicio a la comunidad, y nos enorgullece continuar con esta
						tradición.</p>
					<p>Nuestra facultad es un lugar vibrante donde la creatividad y
						la tecnología se fusionan para enfrentar los desafíos del mundo
						moderno. Nuestros programas de grado y posgrado están diseñados
						para proporcionar a nuestros estudiantes una base sólida en
						principios de ingeniería, al mismo tiempo que fomentan la
						innovación, la resolución de problemas y el pensamiento crítico.</p>
					<img src="/images/facultad.jpg" alt="facultad">
					<div class="container contenedor">
						<h2>Noticias recientes</h2>
						<ul>
							<li><a
								href="https://fi.unju.edu.ar/llamados-a-concursos/4574-llamado-a-concurso-docente-publico-departamento-de-mecanica-fi-unrc.html">Llamado
									a Concurso Docente Público - Departamento de Mecánica de la
									Facultad de Ingeniería de la Universidad Nacional de Río
									Cuarto.</a></li>
							<li><a
								href="https://fi.unju.edu.ar/noticias-generales/4576-52%C2%B0-aniversario-de-la-facultad-de-ingenieria-de-la-unju.html">52°
									Aniversario de la Facultad de Ingeniería de la UNJu.</a></li>
							<li><a
								href="https://fi.unju.edu.ar/alumnos-noticias/4577-reunion-informativa-ingeniavoz-24-05-16-30hs.html">CADI
									- CAEDI | Reunión Informativa.</a></li>
							<li><a
								href="https://fi.unju.edu.ar/posgrado-noticias/4578-curso-de-posgrado-fisicoquimica-especializacion.html">Curso
									de posgrado: "Derecho e Inteligencia Artificial".</a></li>
							<li><a
								href="https://fi.unju.edu.ar/unju/4580-campana-de-vacunacion-unju-2024.html">Campaña
									de vacunación UNJu 2024.</a></li>
						</ul>
					</div>
				</div>

				<div class="recursos col-md-3 col-12">
					<h2>Recursos y Servicios</h2>
					<ul>
						<li><a href="https://www.fi.unju.edu.ar/tramites">Trámites</a></li>
						<li><a
							href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Biblioteca</a></li>
						<li><a href="https://www.fi.unju.edu.ar/servicios/notas.html">Modelo
								de notas</a></li>
						<li><a href="https://fi.unju.edu.ar/horarios-fiunju">Horarios-2024</a></li>
						<li><a
							href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario
								académico</a></li>
						<li><a
							href="https://www.fi.unju.edu.ar/secretarias/sec-academica/programas-de-materias.html">Programas
								de materias</a></li>
						<li><a
							href="https://www.fi.unju.edu.ar/servicios/como-llegar-fi-unju.html">Cómo
								llegar</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer th:replace="/layouts/footer :: footer"></footer>

	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>