<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<!--Metadatos -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width ,initial-scale=1">
		<!-- Titulo -->
		<title>Pagina bootstrap</title>
		<!-- Boostrap -->
		<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<!-- CSS -->
		<link rel="stylesheet" href="/css/estilos.css">
	</head>
	
	<body>
	
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
	
</html>