<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<body>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="establecimiento col-md-10 col-12">
					<p>Dirección: Ítalo Palanca Nº 10 - San Salvador de Jujuy
					<p>Correo: info@fi.unju.edu.ar</p>
					<p>Teléfono: 0388 422-1580</p>
					<p>&copy; Joel Garcia - 2024.</p>
				</div>
				<div class="redes col-md-2 col-12">
					<a href="https://www.facebook.com/fiunju/">
					<img src="/images/facebook.png" alt="facebook">
					</a>
					<a href="https://www.instagram.com/fiunju/">
					<img src="/images/instagram.png" alt="instragram">
					</a>
					<a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">
					<img src="/images/youtube.png" alt="youtube">
					</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>